.HomeDiv {
  padding: 15px;
}

.field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.field textarea {
  width: 800px;
  height: 400px;
}

.HomeDiv input {
  width: 800px;
}

.distance {
  margin-left: 5px;
  margin-right: 5px;
}
